* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
navbar */

.navbar {
  margin-top: 10px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.logo {
  height: 52px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.logo img {
  height: 32px;
  width: 32px;
}

.home_searchbtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
}

.homebtn {
  height: 38px;
  width: 38px;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
}

.homebtn i {
  color: rgb(179, 179, 179);
}

.searchbar{
  background-color: rgb(31,31,31);
  height: 48px;
  width: 41vw;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}

.searchicon{
 
  font-size: 22px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inpt{
  background-color: transparent;
  border: none;
  width: 75%;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 500;

}
.inpt::placeholder{
  color: rgb(156,156,156);
}
.searchbar:hover{
  background-color: #2A2A2A;
  color: rgb(179, 183, 183);
  cursor: pointer;
}


.market{
  width: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container styling */
.in {
  display: flex;
}

/* Sign In button styling */
.signin, .login {
  height: 48px;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Transition for smooth zoom effect */
}

/* Login button with additional styles */
.login {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-right: 10px;
}

/* Hover effect for both signin and login */
.signin:hover, .login:hover {
  transform: scale(1.05); /* Zoom in animation */
}

.login:hover{
  background-color: rgb(224, 225, 227);
}


/* container design */

.container {
  display: flex;
}

/* left */

.left {
  width: 30%;
  background-color: brown;
  border: 2px solid beige;
  margin: 3px;
}

/* right */
.right {
  width: 70%;
  background-color: aqua;
  border: 2px solid beige;
  margin: 3px;
}
